{{!This template builds the olapic modal window contents - image and uploader info }}

<img src="{{images.normal}}" />

<div>User Caption: {{caption}}</div>
<img src="{{_embedded.uploader.avatar_url}}" />
<div>User Name: {{_embedded.uploader.name}}</div>
<div>User Username: {{_embedded.uploader.username}}</div>
<div>Date Submitted: {{date_submitted}}</div>
<div>Source: {{source}}</div>